#box2{
    border: 1px solid blue;
    ul{
        list-style: none;
        li{
            width: 100px;
            height: 50px;
            border: 1px solid red;
        }
    } 
    .cls{
        background-color: green;
    }   
    a{
        color:blue;
    }
}
