@charset "utf-8";

/*logo*/
#logo{
	position: relative;
	width: 100%;
}
.logo-wrap{
	height: 100px;
}
.logo-wrap .logo{
	width: 55px;
	height: 55px;
	margin-top: 22px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.logo-wrap .logo .logoDouble{
	width: 110px;
	height: 55px;
	background: #FF6700;
	position: absolute;
	top: 0px;
	right: 0px;
}
.logoDouble img{
	float: left;
	width: 55px;
	height: 55px;
	background: #FF6700;
}
.logo_nav ul{
	margin-left: 180px;
}
.logo_nav ul li{
	list-style: none;
	float: left;
	font-size: 16px;
	line-height: 100px;
	margin-right: 15px;
	cursor: pointer;
	user-select:none;
}
.logo_nav ul li:hover{
	color: #FF6700;
}
/*商品的下拉菜单*/
.goodList{
	width: 100%;
	height: 230px;
	background: #FFFFFF;
	border: 1px solid #B0B0B0;
	box-shadow: 0px 2px 2px #424242;
	z-index: 2;
	position: absolute;
	top: 100px;
	display: none;
}
.goodList .listCon{
	position: relative;
	width: 1226px;
	height: 200px;
	margin: 0px auto; 
}
.xiaomi{
	position: absolute;
	width: 1226px;
	height: 195px;
	padding-top: 35px;
}
.shopping_list{
	width: 203px;
	float: left;
	z-index: 8;
}
.shopping_list a{
	display: block;
	width: 160px;
	padding: 0 21px;
	height: 110px;
	border-right: 1px solid #E0E0E0;
	margin: 0 auto;
}
.shopping_list a img{
	width: 100%;
	height: 100%;
}
.shopping_list h2{
	font-size: 12px;
	line-height: 12px;
	margin-top: 20px;
	color: #333333;
	text-align: center;
}
.shopping_list h3{
	font-size: 11px;
	line-height: 11px;
	margin-top: 9px;
	color: #ff6700;
	text-align: center;
}
.shopping_list:nth-of-type(6) a{
	border: 0;
}
.logo_btn{
	padding-top: 25px;
}
.logo_btn input:nth-of-type(1){
	display: block;
	float: left;
	width: 220px;
	height: 48px;
	line-height: 48px;
	border: 1px solid #e0e0e0;
	border-right: 0;
	padding-left: 10px;
}
.logo_btn input:nth-of-type(2){
	width: 52px;
	height: 50px;
	border: 1px solid #e0e0e0;
	float: right;
	background: url(../images/btn_03.jpg) no-repeat center;
}
.logo_btn span a:hover{
	background: #FF6700;
	color: #FFFFFF;
}
/*#banner*/
#banner{
	overflow: hidden;
}
.banner-wrap{
	height: 460px;
	position: relative;
}
.banner-wrap .banner_a{
	width: 1226px;
	height: 460px;
}
.banner-wrap .banner_a img{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 50%;
	opacity: 0;
	margin-left: -613px;
	cursor: pointer;
}
.banner_a>img:nth-child(1){
	opacity: 1;
}
.banner_ul{
	position: absolute;
	right: 5%;
	bottom: 5%;
}
.banner_ul li{
	float: left;
	list-style: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #333333;
	border: 2px solid #A0A0A0;
	cursor: pointer;
	margin: 0px 5px;
	opacity: 0.6;
	user-select:none;
}
.banner_ul li:hover{
	background: #FFFFFF;
}
.banner-wrap .first{
	background: #FFFFFF;
}
/*箭头*/
.banner-wrap .leftBtn,.rightBtn{
	position: absolute;
	width: 40px;
	height: 70px;
	right: 0px;
	top: 195px;
	font-size: 50px;
	color: #A0A0A0;
	text-align: center;
	line-height: 70px;
	font-family: "幼圆";
	font-weight: bolder;
	cursor: pointer;
	/*标签禁止被选中*/
	user-select:none;
}
.leftBtn{
	left: 234px;
}
.leftBtn:hover,.rightBtn:hover{
	background: #333333;
	color: #FFFFFF;
	opacity: 0.8;
}
.banner_list{
	height: 460px;
	width: 234px;
	position: absolute;
	left: 0;
	top: 0;
	background: #999597;
}
.banner_txt{
	height: 441px;
	width: 234px;
	padding-top: 19px;
}
.banner_txt li{
	width: 234px;
	height: 42px;
}
.banner_txt li:hover{
	background: #FF6700;
}
.banner_txt li a{
	font-size: 12px;
	line-height: 42px;
	color: #FFFFFF;
	float: left;
	padding-left: 30px;
}
.banner_txt li span{
	color: #FFFFFF;
	font-size: 22px;
	line-height: 42px;
	float: right;
	font-weight: bolder;
	padding-right: 23px;
}
.banner_tit{
	position: absolute;
	background: palegreen;
	height: 458px;
	min-width: 480px;
	top: 1px;
	left: 234px;
	box-shadow: 0px 2px 2px #424242;
	z-index: 5;
	display: none;
}
.banner_tit dl{
	width: 200px;
	height: 40px;
	padding: 15px 20px;
	
}
.banner_tit dl dt a{
	display: block;
	width: 40px;
	height: 40px;
}
.banner_tit dl dt a img{
	width: 100%;
	height: 100%;
}
.banner_tit dl dd{
	font-size: 12px;
	line-height: 40px;
	color: #333333;
	margin-left: 15px;
}
/*case*/
.case-wrap{
	height: 170px;
	margin-top: 14px;
}
.case_l{
	width: 231px;
	height: 168px;
	background: #5f5750;
	padding: 2px 0 0 3px;
}
.case_list{
	width: 75px;
	height: 81px;
	border-top: 1px solid #665e57;
	border-left: 1px solid #665e57;
}
.case_list em{
	display: block;
	width: 28px;
	height: 28px;
	margin: 20px auto 10px;
}
.case_list em img{
	width: 100%;
	height: 100%;
}
.case_list a{
	display: block;
	font-size: 12px;
	line-height: 12px;
	margin-top: 8px;
	color: #ceccca;
	text-align: center;
}
.case_list a:hover{
	color: #FFFFFF;
}
.case_img{
	width: 316px;
	height: 170px;
	margin-left: 14px;
}
.case_img a img{
	width: 100%;
	height: 100%;
}
/*news*/
#news{
	background: #f5f5f5;
	margin-top: 26px;
}
.news-wrap{
	height: 392px;
}
.news-wrap h2{
	font-size: 21px;
	line-height: 21px;
	color: #333333;
	padding: 22px 0 19px;
	font-weight: bolder;
}
.news_list{
	width: 234px;
	height: 219px;
	background: #f1eded;
	border-top: 1px solid #e53935;
	padding: 60px 0 50px;
}
.news_list h3{
	font-size: 19px;
	line-height: 19px;
	color: #ef3a3b;
	text-align: center;
}
.news_list img{
	margin: 30px auto 36px;
}
.news_list h4{
	font-size: 13px;
	line-height: 13px;
	color: #706f6f;
	text-align: center;
}
.news_list h6{
	margin-top: 33px;
	padding-left: 33px;
}
.news_list h6 span{
	display: block;
	width: 46px;
	height: 46px;
	font-size: 17px;
	line-height: 46px;
	text-align: center;
	float: left;
	color: #FFFFFF;
	background: #605751;
}
.news_list h6 a{
	display: block;
	width: 15px;
	height: 46px;
	float: left;
	font-size: 17px;
	line-height: 46px;
	text-align: center;
}
.news_list1{
	width: 234px;
	height: 219px;
	background: #fafafa;
	border-top: 1px solid #2196f3;
	padding: 60px 0 50px;
	margin-left: 14px;
}
.news_list1 a{
	display: block;
	width: 200px;
	height: 150px;
	margin: 0 auto;
}
.news_list1 a img{
	margin: 0 auto;
}
.news_list1 h3{
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: #858585;
}
.news_list1 h4{
	font-size: 11px;
	line-height: 11px;
	color: #c9c9c9;
	margin-top: 11px;
	text-align: center;
}
.news_list1 h5{
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: #fa6509;
	margin-top: 20px;
}
.news_list1 h5 span{
	text-decoration:line-through;
	color: #adadad;
}

.links-wrap1{
	height: 390px;
}
.links-wrap1 .links_top h2{
	padding-top: 40px;
	margin-bottom: 17px;
	font-size: 21px;
	line-height: 21px;
	color: #333333;
	font-weight: bolder;
}
.links-wrap1 .links_top h3 a{
	padding-top: 40px;
	margin-bottom: 17px;
	font-size: 16px;
	line-height: 19px;
	color: #424242;
}
.links-wrap1 .links_top h3 a img{
	margin-left: 8px;
}
.links-wrap1 .links_top h4 a{
	padding-top: 40px;
	font-size: 16px;
	line-height: 16px;
	color: #424242;
	padding-bottom: 4px;
}
.links-wrap1 .links_shiping{
	background: #FFFFFF;
	width: 296px;
	height: 285px;
	transition: .5s linear;
	margin-right: 14px;
}
.links_shiping:hover{
	box-shadow: 0 5px 10px 0 palegreen;
	transform: translateY(-5px);
}
.links-wrap1 .links_shiping a{
	display: block;
	width: 296px;
	position: relative;
}
.links-wrap1 .links_shiping a i{
	position: absolute;
	display: block;
	width: 36px;
	height: 24px;
	border: 1px solid #FFFFFF;
	border-radius: 50px;
	left: 20px;
	bottom: 10px;
}
.links-wrap1 .links_shiping a:hover i{
	background: #ff6700;
	border-right: 1px solid #E0E0E0;
}
.links-wrap1 .links_shiping a img{
	width: 100%;
	height: 100%;
}
.links-wrap1 .links_shiping h2 a{
	font-size: 12px;
	line-height: 12px;
	padding-top: 32px;
	color: #929292;
	text-align: center;
}


