@charset "utf-8";

/*logo*/
#logo{
	position: relative;
	width: 100%;
}
.logo-wrap{
	height: 100px;
}
.logo-wrap .logo{
	width: 55px;
	height: 55px;
	margin-top: 22px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.logo-wrap .logo .logoDouble{
	width: 110px;
	height: 55px;
	background: #FF6700;
	position: absolute;
	top: 0px;
	right: 0px;
}
.logoDouble img{
	float: left;
	width: 55px;
	height: 55px;
	background: #FF6700;
}
.logo_nav ul{
	margin-left: 180px;
}
.logo_nav ul li{
	list-style: none;
	float: left;
	font-size: 16px;
	line-height: 100px;
	margin-right: 15px;
	cursor: pointer;
	user-select:none;
}
.logo_nav ul li:hover{
	color: #FF6700;
}
/*商品的下拉菜单*/
.goodList{
	width: 100%;
	height: 230px;
	background: #FFFFFF;
	border: 1px solid #B0B0B0;
	box-shadow: 0px 2px 2px #424242;
	z-index: 2;
	position: absolute;
	top: 100px;
	display: none;
}
.goodList .listCon{
	position: relative;
	width: 1226px;
	height: 200px;
	margin: 0px auto; 
}
.xiaomi{
	position: absolute;
	width: 1226px;
	height: 195px;
	padding-top: 35px;
}
.shopping_list{
	width: 203px;
	float: left;
	z-index: 8;
}
.shopping_list a{
	display: block;
	width: 160px;
	padding: 0 21px;
	height: 110px;
	border-right: 1px solid #E0E0E0;
	margin: 0 auto;
}
.shopping_list a img{
	width: 100%;
	height: 100%;
}
.shopping_list h2{
	font-size: 12px;
	line-height: 12px;
	margin-top: 20px;
	color: #333333;
	text-align: center;
}
.shopping_list h3{
	font-size: 11px;
	line-height: 11px;
	margin-top: 9px;
	color: #ff6700;
	text-align: center;
}
.shopping_list:nth-of-type(6) a{
	border: 0;
}
.logo_btn{
	padding-top: 25px;
}
.logo_btn input:nth-of-type(1){
	display: block;
	float: left;
	width: 220px;
	height: 48px;
	line-height: ;
	border: 1px solid #e0e0e0;
	border-right: 0;
	padding-left: 10px;
}
.logo_btn input:nth-of-type(2){
	width: 52px;
	height: 50px;
	border: 1px solid #e0e0e0;
	float: right;
	background: url(../images/btn_03.jpg) no-repeat center;
}
.logo_btn span a:hover{
	background: #FF6700;
	color: #FFFFFF;
}
/*#banner*/
#banner a{
	display: block;
	height: 580px;
}
#banner a img{
	width: 100%;
	height: 100%;
}
/*#mayOneSpecialTopic*/
#mayOneSpecialTopic{
	background: #f5f5f5;
}
.mayOneSpecialTopic{
	min-height: 1000px;
	padding: 20px 0;
}
.mayOneSpecialTopic h2 {
	height: 34px;
	line-height: 34px;
	background: #e81411;
}
.mayOneSpecialTopic_h2{
	margin-top: 20px;
}
.mayOneSpecialTopic h2 span{
	display: inline-block;
	float: left;
	width: 46px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #FFFFFF;
	background: #7c0000;
	font-size: 22px;
}
.mayOneSpecialTopic h2 em{
	display: inline-block;
	float: left;
	font-size: 26px;
	line-height: 34px;
	color: #FFFFFF;
	margin-left: 30px;
}
.mayOneSpecialTopic_list{
	display: grid;
	margin-top: 16px;
	grid-template-columns:repeat(5,234px);
	grid-template-rows:repeat(3,300px);
	grid-row-gap:14px  ;/* 行间距 */
	grid-column-gap:14px ;/* 列间距 */
}
.mayOneSpecialTopic_tit{
	background: #FFFFFF;
	transition: .5s linear;
}
.mayOneSpecialTopic_tit:hover{
	box-shadow: 0 5px 10px 0 palegreen;
	transform: translateY(-5px);
}
.mayOneSpecialTopic_tit>a{
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
.mayOneSpecialTopic_tit>a img{
	width: 100%;
	height: 100%;
}
.mayOneSpecialTopic_tit h3{
	text-align: center;
}
.mayOneSpecialTopic_tit h3 em{
	font-size: 12px;
	line-height: 12px;
	color: #515151;
	margin-left: 6px;
}
.mayOneSpecialTopic_tit h3 a{
	font-size: 12px;
	line-height: 12px;
	color: #515151;
}
.mayOneSpecialTopic_tit h6{
	width: 60px;
	height: 18px;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
	margin: 19px auto 0; 
	text-align: center;
	background: #ff0200;
	position: relative;
	cursor: pointer;
}
.mayOneSpecialTopic_tit h6 em{
	position: absolute;
	display: block;
	width: 25px;
	height: 25px;
	background: red;
	color: #FFFFFF;
	line-height: 25px;
	font-size: 12px;
	text-align: center;
	border-radius: 50%;
	top: -22px;
	right: -22px;
}
.mayOneSpecialTopic_tit h5{
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: #ff0200;
	margin-top: 16px;
}
.mayOneSpecialTopic_tit h5 em{
	text-decoration:line-through;
	color: #666666;
	margin-left: 5px;
}
