@charset "utf-8";

/* 公共的样式 */
.float_left{
    float:left;
}
.float_right{
    float:right;
}
.clear_margin{
    margin:0!important;
}
.clear_border{
    border:0!important;
}
.padding_right{
	padding-right: 0 !important;
}
.padding_left{
	padding-left: 0 !important;
}
.border_right{
	border-right: 0 !important;
}
.clear_bg{
    background:none!important;
}
/* 版心 width   margin:0 auto; */
.logo-wrap,.footer-wrap{
    width:858px;
    margin:0 auto;
}
#logo{
	width: 100%;
	background: #f9f9f9;
	border-top: 1px solid #dadce0;
}
.logo-wrap{
	height: 548px;
	background: #FFFFFF;
}
.logo-wrap h1{
	margin-left: 402px;
}
.logo-wrap h2{
	font-size: 30px;
	line-height: 30px;
	color: #333333;
	margin-top: 48px;
	text-align: center;
	font-family: "微软雅黑";
}

.logo_from{
	width: 330px;
	min-height: 252px;
	margin: 42px auto 0;
	position: relative;
}
#userMsg{
	position: absolute;
	min-width: 40px;
	height: 42px;
	font-size: 16px;
	line-height: 42px;
	left: 0px;
	top: -32px;
}
.logo_from label{
	width: 70px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #333333;
	display: inline-block;
	background: #F5F5F5;
	float: left;
	text-align: center;
	margin-top: 10px;
}
.logo_from input:nth-of-type(1),.logo_from input:nth-of-type(2),.logo_from input:nth-of-type(3){
	width: 248px;
	height: 40px;
	border: 1px solid #e8e8e8;
	padding-left: 9px;
	float: left;
	margin-top: 10px;
}
.logo_from input:nth-of-type(4){
	width: 175px;
	height: 40px;
	border: 1px solid #e8e8e8;
	padding-left: 9px;
	float: left;
	margin-top: 10px;
}
.logo_from .yanzm{
	display: inline-block;
	float: left;
	width: 70px;
	height: 40px;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	margin-top: 10px;
	background: #ababab;
	border: 1px solid #e8e8e8;
	border-left: none;
}
.logo_from input:nth-of-type(5){
	width: 328px;
	height: 40px;
	border: 1px solid #ea8038;
	background: #ff6700;
	margin: 30px 0 0 2px;
	color: #FFFFFF;
}
.logo-wrap p{
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	margin-top: 84px;
	color: #9d9d9d;
}
.logo-wrap p a{
	color: #333333;
	font-family: "微软雅黑";
	font-weight: bolder;
}
/*#footer*/
#footer{
	width: 100%;
	background: #f9f9f9;
	border-bottom: 1px solid #d6e8e6;
}
.footer-wrap{
	padding-top:14px;
	min-height: 62px;
}
.footer-wrap h2{
	text-align: center;
	font-size: 12px;
	line-height: 12px;
}
.footer-wrap h2 a{
	font-size: 12px;
	line-height: 12px;
	color: #757575;
	margin: 0 5px;
}
.footer-wrap h2 a:nth-of-type(1){
	color: #333333;
}
.footer-wrap h2 a:hover{
	color: #333333;
}
.footer-wrap p{
	font-size: 12px;
	line-height: 12px;
	color: #9d9d9d;
	text-align: center;
	margin-top: 11px;
}
.footer-wrap p span{
	display: inline-block;
}
.footer-wrap p a{
	display: inline-block;
}
